<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<form method="post" style="max-width:600px;" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{cheese.name}" />
        <span th:errors="*{cheese.name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{cheese.description}" />
        <span th:errors="*{cheese.description}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="origin">Origin</label>
        <input class="form-control" th:field="*{cheese.origin}" />
        <span th:errors="*{cheese.origin}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="quantity">Quantity</label>
        <input class="form-control" th:field="*{cheese.quantity}" />
        <span th:errors="*{cheese.quantity}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="price">Price</label>
        <input class="form-control" th:field="*{cheese.price}" />
        <span th:errors="*{cheese.price}" class="error"></span>
    </div>


    <div class="form-group">
        <label th:for="type">Color</label>
        <select th:field="*{cheese.color}">
            <option value="white">White</option>
            <option value="yellow">Yellow</option>
            <option value="orange">Orange</option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="type">Type</label>
        <select name="categoryId">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"></option>
        </select>
    </div>




    <input type="submit" value="Edit-Update Cheese" />
</form>
</body>
</html>