<body class="container">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<h1 th:text="${title}">Default Title</h1>


<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="cheese : ${cheeses}" class="radio">
        <input type="radio" name="cheeseIds" th:value="${cheese.id}" th:id="${cheese.id}"/>
        <label th:for="${cheese.id}" th:text="${cheese.name}"></label>
        <br />
        <label th:for="${cheese.id}" th:text="${cheese.description}"></label>
        <br />
    </div>


    <input type="submit" value="Edit-Update Cheese" />
</form>
</body>
</html>