<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8" />
    <title><h1 th:text="${title}">My Country</h1></title>
</head>

<body class="container">

    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>


<div>
    <tr th:each="nation : ${nations}">
        <p>Nation Name: <td th:text="${nation.name}"></td></p>
        <p>Leader: <td th:text="${nation.leader}"></td></p>
        <p>Government Type: <td th:text="${nation.governmentType}"></td></p>
        <p>Total Production: <td th:text="${nation.totalProduction}"></td></p>
        <p>Total Population: <td th:text="${nation.totalPopulation}"></td></p>
        <p>Total Manpower: <td th:text="${nation.totalManpower}"></td></p>
    </tr>
</div>




    <p>Base: 500pp</p>


    <table>
        <th>Resource</th>
        <th>Quantity</th>
        <tr th:each="resource : ${resources}">
        <td th:text="${resource.name}"></td>
        <td th:text="${resource.quantity}"></td>
    </tr>
    </table>



    <table>
        <th>City</th>
        <th>Industrial District</th>
        <th>Residential District</th>
        <tr th:each="city : ${cities}">
            <td th:text="${city.name}"></td>
            <td th:text="${city.industrialTier}"></td>
            <td th:text="${city.residentialTier}"></td>
        </tr>
    </table>

    <table>
        <th>Territory</th>
        <th>Quantity</th>
        <tr th:each="territory : ${territories}">
            <td th:text="${territory.name}"></td>
            <td th:text="${territory.quantity}"></td>
    </tr>
    </table>

    <table>
        <th>Unit</th>
        <th>Quantity</th>
        <th>Type</th>
        <th>Category</th>
        <tr th:each="unit : ${units}">
            <td th:text="${unit.name}"></td>
            <td th:text="${unit.quantity}"></td>
            <td th:text="${unit.type}"></td>
            <td th:text="${unit.category}"></td>
        </tr>
    </table>




</body>
</html>