<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>



<form method="post" style="max-width:600px;" th:object="${nation}">
    <tr th:each="nation : {nations}">
        <tr th:each="unit : {nation.units}">
    <p>Name:</p>
<div>
    <input type="text" th:value="${unit.name}" id="unitName" name="unitName" />
</div>
    <p>Type:</p>
    <div>
        <input type="text" th:value="${unit.type}" id="unitType" name="unitType" />
    </div>
    <p>Category:</p>
    <div>
        <input type="text" th:value="${unit.category}" id="unitCategory" name="unitCategory" />
    </div>
    <p>Price:</p>
    <div>
        <input type="text" th:value="${unit.price}" id="unitPrice" name="unitPrice" />
    </div>
    <p>Production Time:</p>
    <div>
        <input type="text" th:value="${unit.productionTime}" id="unitProductionTime" name="unitProductionTime" />
    </div>
    <p>Quantity:</p>
    <div>
        <input type="text" th:value="${unit.quantity}" id="unitQuantity" name="unitQuantity" />
    </div>
</tr>
    <input type="submit" value="Add Unit" />
</form>
    <!--<div class="form-group">-->
        <!--<label th:for="name">Name</label>-->
        <!--<input class="form-control" th:field="*{unit.name}" />-->
        <!--<span th:errors="*{unit.name}" class="error"></span>-->
    <!--</div>-->
    <!---->
    <!---->
    <!--<div class="form-group">-->
        <!--<label th:for="type">Type</label>-->
        <!--<input class="form-control" th:field="*{unit.type}" />-->
        <!--<span th:errors="*{unit.type}" class="error"></span>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label th:for="category">Category</label>-->
        <!--<input class="form-control" th:field="*{unit.category}" />-->
        <!--<span th:errors="*{unit.category}" class="error"></span>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label th:for="price">Price</label>-->
        <!--<input class="form-control" th:field="*{unit.price}" />-->
        <!--<span th:errors="*{unit.price}" class="error"></span>-->
    <!--</div>-->

    <!--<div class="form-group">-->
        <!--<label th:for="productionTime">Production Time</label>-->
        <!--<input class="form-control" th:field="*{unit.productionTime}" />-->
        <!--<span th:errors="*{unit.productionTime}" class="error"></span>-->
    <!--</div>-->

    <!--<input type="submit" value="Add Unit" />-->
</body>
</html>