<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div>
    <tr th:each="nation : ${nations}">
        <p>Total Production: <td th:text="${nation.totalProduction}"></td></p>
    </tr>
</div>



<div>
    <form method="post" style="max-width:600px;" th:object="${units}">
        <tr th:each="unit : ${units}">
            <p th:text="${unit.name}"></p>
                <div class="form-group">
                    <label th:for="quantity">Quantity</label>
                    <input class="form-control" th:value="${unit.quantity}" name="unitQuantity" id="unitQuantity" />
                    <input class="form-control" th:value="${unit.id}" name="unitIds" id="unitIds" />
                    <!--<span th:errors="${unit.quantity}" class="error"></span>-->
                </div>
            <p>Price:</p>
            <p th:text="${unit.price}"></p>
            <p th:text="${unit.type}"></p>
            <p th:text="${unit.category}"></p>
        </tr>
        <input type="submit" value="Order" />
    </form>
</div>



</body>
</html>